<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO EXTERNO</title>
    <link rel="stylesheet" href="../public/css/externo.css">
</head>
<body>
    <h1>Archivo Formulario Externo</h1>
    <form action="server.html" method="get">
        
        <!--Campo input tipo texto.-->
        <label class="labels" for="nombre">NOMBRE:</label> <br>
        <input 
            type="text"
            id="nombre"
            name="nombre"
            value="Daniela"
        >
        <br><br>

        <!--Campo text area-->
        <label class="labels"  for="comentario">COMENTARIO:</label><br>
        <textarea 
            class="comentario"
            name="comentario" 
            id="comentario"
            placeholder="Ingrese un comentario"
            rows="5" 
            cols="100"
        > </textarea>
        <br><br>

        <!--Elemento select con al menos tres opciones.-->
        <label class="labels"  for="musica">GENEROS MUSICALES:</label><br>
        <select name="musica" id="musica">
            <option value="bachata">Bachata</option>
            <option value="merengue">Merengue</option>
            <option value="rock">Rock</option>
        </select>
        <br><br>
        
        <!--Campo checkbox.-->
        <label class="labels" for="producto">PRODUCTOS ELECTRONICOS:</label>
        <label for="AUDIFONOS">AUDIFONOS</label>
        <input 
            class="check"
            type="checkbox" 
            name="producto[]" 
            id="AUDIFONOS" 
            value="AUDIFONOS"
        >
        <label for="MONITOR">MONITOR</label>
        <input 
            class="check"
            type="checkbox" 
            name="producto[]" 
            id="MONITOR" 
            value="MONITOR"
        >
        <label for="LAPTOP">LAPTOP</label>
        <input 
            class="check"
            type="checkbox" 
            name="producto[]" 
            id="LAPTOP" 
            value="LAPTOP"
        >
        <br><br>

        <!--Campo input dos radio (por ejemplo, para seleccionar género).-->
        <label class="labels" >GENERO:</label>
        <label for="hombre">HOMBRE</label>
        <input 
            class="genero" 
            type="radio" 
            name="hombre" 
            id="hombre" 
            value="hombre" 
        >
        <label for="mujer">MUJER</label>
        <input 
            class="genero" 
            type="radio" 
            name="mujer" 
            id="mujer" 
            value="mujer" 
        >
    </form>
</body>
</html>